## **Objetos**

>Lembre-se, em Python tudo é um objeto

In [1]:
#Criando uma lista
lst_num = ["Data", "Science", "Academy", "Nota", 10, 10]

In [2]:
#A lista lst_num é um objeto, uma instância da classe lista em Python
type(lst_num)

list

In [3]:
print(lst_num)

['Data', 'Science', 'Academy', 'Nota', 10, 10]

In [4]:
lst_num.count(10)

2

In [5]:
#Usamos a função type para verificar o tipo de um objeto
print(type(10))
print(type([]))
print(type(()))
print(type({}))
print(type("a"))

<class 'int'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'str'>

In [6]:
#Criando um novo tipo de objeto chamado carro
class Carro(object):
    pass

In [7]:
#Instância do Carro
ferrari = Carro()

In [8]:
print(type(ferrari))

<class '__main__.Carro'>

In [9]:
#Criando uma classe
class Estudantes:
    def __init__(self, nome, idade, nota):
        self.nome = nome
        self.idade = idade
        self.nota = nota

In [10]:
#Criando um objeto da classe Estudante
Estudante1 = Estudantes("Bob", 12, 9.5)

In [11]:
Estudante1.nome

'Bob'

In [12]:
Estudante1.idade

12

In [13]:
Estudante1.nota

9.5

In [16]:
#Criando uma classe
class Funcionarios:
    def __init__(self, nome, salario, cargo):
        self.nome = nome
        self.salario = salario
        self.cargo = cargo
    def listFunc(self):
        print("Funcionario(a) " + self.nome + " tem salário de R$" + str(self.salario) + " e o cargo é " + self.cargo)

In [17]:
Func1 = Funcionarios("Mary", 20000, "Cientista de Dados")

In [19]:
Func1.listFunc()

Funcionario(a) Mary tem salário de R$20000 e o cargo é Cientista de Dados

In [20]:
hasattr(Func1, "nome")

True

In [21]:
hasattr(Func1, "salario")

True

In [22]:
setattr(Func1, "salario", 4500)

In [23]:
hasattr(Func1, "salario")

True

In [24]:
getattr(Func1, "salario")

4500

In [25]:
delattr(Func1, "salario")

In [26]:
hasattr(Func1, "salario")

False