## **Trabalhando com variáveis**

In [36]:
#Atribuindo valor 1 para a variável var_teste
var_teste = 1

In [37]:
#Imprimindo o valor da variável
var_teste

1

In [38]:
#Imprimindo o valor da variável
print(var_teste)

1

In [39]:
#Não é possível usar uma variável que ainda não foi definida.
var_desconhecida

NameError: name 'var_desconhecida' is not defined

In [40]:
#Atribuindo outro valor para a variável
var_teste = 2

In [41]:
var_teste

2

In [42]:
#Verificando o tipo da variável
type(var_teste)

int

In [43]:
#Alterando o tipo da variável
var_teste = 9.5

In [44]:
var_teste

9.5

In [45]:
type(var_teste)

float

In [46]:
x = 1

In [47]:
x

1

## **Declaração Múltipla**

In [49]:
#Declarando multiplas variáveis atribuindo um valor para cada
pessoa1, pessoa2, pessoa3 = "Joao", "Maria", "Pedro"

In [50]:
pessoa1

'Joao'

In [51]:
pessoa2

'Maria'

In [52]:
pessoa3

'Pedro'

In [53]:
#Atribuindo um mesmo valor simultaneamente
fruta1 = fruta2 = fruta3 = "Melancia"

In [54]:
fruta1

'Melancia'

In [55]:
fruta2

'Melancia'

In [56]:
#Lembre-se que Python é case-sensitive, ou seja, variáveis com letras maiúsculas são diferentes das minusculas
Fruta2

NameError: name 'Fruta2' is not defined

> É possível usar letras, números e underline no nome da variável (mas não se deve começar com números)

In [57]:
x1 = 50

In [58]:
x1

50

In [59]:
#Observe o erro ao declarar uma variável que inicia com número
1x = 50

SyntaxError: invalid decimal literal (4144205018.py, line 1)

> Não podemos usar palavras reservadas como nome de variáveis (palavras usadas pelo interpretador do Python, como funções)

In [60]:
#Erro ao usar palavra reservada como variável
break = 1

SyntaxError: invalid syntax (3713841946.py, line 1)

## **Variáveis Atribuídas a outras variáveis e ordem dos operadores**

In [61]:
largura = 2

In [62]:
altura = 4

In [63]:
#Atribuindo o valor de uma variável baseado em outras
area = altura * largura

In [64]:
area

8

In [67]:
#É possível concatenar várias operações em uma linha de código
perimetro = 2 * largura + 2 * altura

In [66]:
perimetro

12

In [69]:
#A ordem dos operadores é a mesma seguida na matemática padrão (parênteses, potências, multiplicações, divisões, adição e subtração)
perimetro = 2 * (largura + 2) * altura

In [71]:
#Observe que ao alterar a ordem dos operadores, o resultado também foi alterado
perimetro

32

## **Operações com Variáveis**

In [72]:
idade1 = 25

In [73]:
idade2 = 35

In [74]:
#Realizando operações entre variáveis
idade1 + idade2

60

In [75]:
idade2 - idade1

10

In [76]:
idade2 * idade1

875

In [77]:
idade2 / idade1

1.4

In [78]:
idade2 % idade1

10

## **Concatenação de Variáveis**

In [79]:
nome = "Joao"

In [80]:
sobrenome =  "Vitor"

In [81]:
#Concatenando e adicionando um espaço entre as strings
fullName = nome + " " + sobrenome

In [82]:
fullName

'Joao Vitor'

In [83]:
#Caso não adicione o espaço
nome + sobrenome

'JoaoVitor'