## **Trabalhando com Listas**

> Uma lista é definida por colchetes

In [147]:
#Criando uma lista 
lista_1 = ["arroz, frango, tomate, leite"]

In [145]:
type(lista_1)

list

In [148]:
#Imprimindo a lista
print(lista_1)

['arroz, frango, tomate, leite']

In [152]:
#Criando outra lista
lista_2 = ["arroz", "frango", "tomate", "leite"]

In [150]:
type(lista_2)

list

In [153]:
#Imprimindo a lista
print(lista_2)

['arroz', 'frango', 'tomate', 'leite']

> A primeira lista é uma lista como string, já a segunda é uma lista de strings

In [155]:
#Criando mais uma lista
lista_3 =  [23, 100, "Joao"]

In [156]:
type(lista_3)

list

In [157]:
print(lista_3)

[23, 100, 'Joao']

In [158]:
#Podemos atribuir itens da lista a variáveis
item1 = lista_3[0]
item2 = lista_3[1]
item3 = lista_3[2]

In [159]:
#Imprimindo as variáveis
print(item1, item2, item3)

23 100 Joao

## **Atualizando um item da lista**

In [161]:
lista_2

['arroz', 'frango', 'tomate', 'leite']

In [160]:
#Imprimindo um item da lista
lista_2[2]

'tomate'

In [162]:
#Atualizando um item da lista
lista_2[2] = "chocolate"

In [163]:
lista_2

['arroz', 'frango', 'chocolate', 'leite']

> É possível manipular cada item de uma lista de maneira idependente

## **Deletando um item da lista**

In [164]:
#Não é possível deletar um item que não existe na lista
del lista_2[4]

IndexError: list assignment index out of range

In [165]:
#Deletando um item da lista
del lista_2[3]

In [166]:
lista_2

['arroz', 'frango', 'chocolate']

## **Listas de Listas (Listas Aninhadas)**

In [167]:
#Criando uma lista de listas
listas = [[1, 2, 3], [10, 15, 14], [10.1, 8.7, 2.3]]

In [168]:
#Imprimindo a lista
print(listas)

[[1, 2, 3], [10, 15, 14], [10.1, 8.7, 2.3]]

In [169]:
#Atribuindo um item da lista a uma variável
a = listas[0]

In [170]:
a

[1, 2, 3]

In [171]:
#Ainda permanece uma lista
type(a)

list

In [172]:
b = a[0]

In [173]:
b

1

In [174]:
list1 = listas[1]

In [175]:
list1

[10, 15, 14]

In [176]:
valor_1_0 = list1[0]

In [177]:
valor_1_0

10

In [178]:
valor_1_2 = list1[2]

In [179]:
valor_1_2

14

In [180]:
list2 = listas[2]

In [181]:
list2

[10.1, 8.7, 2.3]

In [182]:
valor_2_0 = list2[0]

In [183]:
valor_2_0

10.1

## **Operações com Listas**

In [185]:
##Criando uma lista aninhada
listas = [[1, 2, 3], [10, 15, 14], [10.1, 8.7, 2.3]]

In [186]:
listas

[[1, 2, 3], [10, 15, 14], [10.1, 8.7, 2.3]]

In [187]:
#Atribuindo a uma variável o primeiro valor da primeira lista
a = listas[0][0]

In [188]:
a

1

In [189]:
b= listas[1][2]

In [190]:
b

14

In [191]:
#Também podemos manipular esses dados normalmente
c = listas [0][2] + 10

In [192]:
c

13

In [193]:
d = 10

In [194]:
d

10

In [195]:
e = d * listas[2][0]

In [196]:
e

101.0

## **Concatenando Listas**

In [197]:
lista_s1 = [34, 32, 56]

In [198]:
lista_s1

[34, 32, 56]

In [199]:
lista_s2 = [23, 90, 51]

In [200]:
lista_s2

[23, 90, 51]

In [201]:
#Concatenando listas
lista_total = lista_s1 + lista_s2

In [202]:
lista_total

[34, 32, 56, 23, 90, 51]

## **Operador in**

In [203]:
#Criando uma lista
lista_teste_op = [100, 2, -5, 3.4]

In [204]:
#Verificando se o valor pertence a lista
print(10 in lista_teste_op)

False

In [205]:
print(100 in lista_teste_op)

True

## **Funções Built-in**

In [206]:
#Criando uma lista
lista_numeros = [10, 20, 50, -3.4]

In [207]:
#Função para retornar o comprimento da lista
len(lista_numeros)

4

In [208]:
#Função para retornar o maior valor da lista
max(lista_numeros)

50

In [209]:
#Função para retornar o menor valor da lista
min(lista_numeros)

-3.4

In [210]:
#Criando uma lista
lista_linguagens = ["Java", "Python", "JavaScript"]

In [211]:
lista_linguagens

['Java', 'Python', 'JavaScript']

In [212]:
#Adicionando um item a lista
lista_linguagens.append("C++")

In [213]:
lista_linguagens

['Java', 'Python', 'JavaScript', 'C++']

In [214]:
#Note que podemos repetir o comando e dado, pois para o interpretador não há problema desde que esteja em outro índice
lista_linguagens.append("C++")

In [215]:
lista_linguagens

['Java', 'Python', 'JavaScript', 'C++', 'C++']

In [216]:
#Contando quantas vezes um elemento aparece na lista
lista_linguagens.count("C++")

2

In [217]:
#Criando uma lista vazia
a = []

In [218]:
print (a)

[]

In [219]:
type(a)

list

In [220]:
a.append(10)

In [221]:
a

[10]

In [222]:
a.append(50)

In [223]:
a

[10, 50]

In [224]:
old_list = [1, 2, 5, 10]

In [225]:
new_list = []

In [226]:
# Copiando os itens de uma lista para outra (código abaixo comentado para melhor entendimento visto que ainda não foram vistos loops)
for item in old_list: #Para cada item dentro da lista
    new_list.append(item)#Adicione o item a lista

In [227]:
new_list

[1, 2, 5, 10]

In [228]:
#Podemos extender a lista
cidades = ["Recife", "Manaus", "Salvador"]
cidades.extend(["Fortaleza", "Palmas"])

In [229]:
print(cidades)

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [230]:
#Podemos descobrir o índice de um elemento
cidades.index("Salvador")

2

In [231]:
#Não é possível buscar por um índice que não existe
cidades.index("Rio de Janeiro")

ValueError: 'Rio de Janeiro' is not in list

In [232]:
cidades

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [233]:
#Podemos inserir um item na lista com a sintaxe .insert(index, conteúdo)
cidades.insert(2, 110)

In [234]:
cidades

['Recife', 'Manaus', 110, 'Salvador', 'Fortaleza', 'Palmas']

In [235]:
#Removendo um item da lista
cidades.remove(110)

In [236]:
cidades

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [237]:
#Revertendo a lista
cidades.reverse()

In [238]:
cidades

['Palmas', 'Fortaleza', 'Salvador', 'Manaus', 'Recife']

In [239]:
x = [3, 4, 2, 1]

In [240]:
x

[3, 4, 2, 1]

In [244]:
#Ordena a lista
x.sort()

In [243]:
x

[1, 2, 3, 4]