## **Trabalhando com dicionários**

In [245]:
# Isso é uma lista
estudantes_lst = ["Pedro", 24, "Ana", 22, "Ronaldo", 26, "Janaina", 25]

In [246]:
estudantes_lst

['Pedro', 24, 'Ana', 22, 'Ronaldo', 26, 'Janaina', 25]

In [247]:
type(estudantes_lst)

list

In [248]:
#Isso é um dicionário
estudantes_dict = {"Pedro":24, "Ana":22, "Ronaldo":26, "Janaina":25}

In [249]:
estudantes_dict

{'Pedro': 24, 'Ana': 22, 'Ronaldo': 26, 'Janaina': 25}

In [250]:
type(estudantes_dict)

dict

In [252]:
#Retorna o elemento associado a chave
estudantes_dict["Pedro"]

24

In [253]:
#Adicionando um elemento ao dicionario
estudantes_dict["Marcelo"] = 23

In [254]:
estudantes_dict

{'Pedro': 24, 'Ana': 22, 'Ronaldo': 26, 'Janaina': 25, 'Marcelo': 23}

In [255]:
estudantes_dict["Marcelo"]

23

In [256]:
#Limpa o dicionário
estudantes_dict.clear()

In [257]:
estudantes_dict

{}

In [258]:
#Apaga o dicionário
del estudantes_dict

In [259]:
estudantes_dict

NameError: name 'estudantes_dict' is not defined

In [260]:
estudantes = {"Pedro":24, "Ana":22, "Ronaldo":26, "Janaina":25}

In [261]:
estudantes

{'Pedro': 24, 'Ana': 22, 'Ronaldo': 26, 'Janaina': 25}

In [262]:
#Comprimento do dicionário
len(estudantes)

4

In [263]:
#Retornando somente as chaves do dicionário
estudantes.keys()

dict_keys(['Pedro', 'Ana', 'Ronaldo', 'Janaina'])

In [264]:
#Retornando somente os valores do dicionário
estudantes.values()

dict_values([24, 22, 26, 25])

In [265]:
#Retornando os itens do dicionário
estudantes.items()

dict_items([('Pedro', 24), ('Ana', 22), ('Ronaldo', 26), ('Janaina', 25)])

In [266]:
#Criando outro dicionário
estudantes2 = {"Camila":27, "Adriana":28, "Roberta":26}

In [267]:
estudantes2

{'Camila': 27, 'Adriana': 28, 'Roberta': 26}

In [268]:
#Atualizando o dicionário
estudantes.update(estudantes2)

In [269]:
estudantes

{'Pedro': 24,
 'Ana': 22,
 'Ronaldo': 26,
 'Janaina': 25,
 'Camila': 27,
 'Adriana': 28,
 'Roberta': 26}

In [270]:
dic1 = {}

In [271]:
dic1

{}

In [273]:
dic1["chave_um"] = 2

In [274]:
print(dic1)

{'chave_um': 2}

In [277]:
#Podemos usar diferentes tipos como chave
dic1[10] = 5

In [276]:
dic1

{'chave_um': 2, 10: 5}

In [278]:
dic1[9.13] = "Python"

In [279]:
dic1

{'chave_um': 2, 10: 5, 9.13: 'Python'}

In [280]:
dic1["teste"] = 5

In [281]:
dic1

{'chave_um': 2, 10: 5, 9.13: 'Python', 'teste': 5}

In [282]:
dict1 = {}

In [283]:
dict1["key"] = "teste"

In [284]:
dict1["teste"] = 10

In [287]:
#Note que a chave e o valor podem ser iguais, porém representam coisas diferentes
dict1

{'key': 'teste', 'teste': 10}

In [288]:
dict2 = {}

In [289]:
dict2["key1"] = "Joao"

In [290]:
dict2["key2"] = 10

In [291]:
dict2["key3"] = 100

In [292]:
#Extraindo os valores das chaves
a = dict2["key1"]

In [293]:
b = dict2["key2"]

In [294]:
c = dict2["key3"]

In [295]:
a, b, c

('Joao', 10, 100)

In [296]:
#Dicionario de listas
dict3 = {"chave1":1230, "chave2":[22, 453, 73.4], "chave3":["picanha", "fraldinha", "alcatra"]}

In [297]:
dict3

{'chave1': 1230,
 'chave2': [22, 453, 73.4],
 'chave3': ['picanha', 'fraldinha', 'alcatra']}

In [299]:
dict3["chave2"]

[22, 453, 73.4]

In [300]:
#Acessando um item da lista dentro do dicionário
dict3["chave3"][0].upper()

'PICANHA'

In [302]:
#Operações com itens da lista dentro do dicionário
var1 = dict3["chave2"][0] - 2

In [303]:
var1

20

In [304]:
#Realizando duas operações para atualizar um item da lista
dict3["chave2"][0] -= 2

In [305]:
dict3

{'chave1': 1230,
 'chave2': [20, 453, 73.4],
 'chave3': ['picanha', 'fraldinha', 'alcatra']}

## **Criando dicionários aninhados**

In [306]:
#Criando dicionários aninhados
dict_aninhado = {"key1":{"key2_anuinhada":{"key3_aninhada":"Dict aninhado"}}}

In [307]:
dict_aninhado

{'key1': {'key2_anuinhada': {'key3_aninhada': 'Dict aninhado'}}}

In [308]:
dict_aninhado["key1"]["key2_anuinhada"]["key3_aninhada"]

'Dict aninhado'