## **Trabalhando com tuplas**

In [309]:
#Criando uma tupla
tupla1 = ("Geografia", 23, "Elefantes", 9.8, "Python")

In [310]:
tupla1

('Geografia', 23, 'Elefantes', 9.8, 'Python')

In [311]:
#Tuplas não suportam um append
tupla1.append("Chocolate")

AttributeError: 'tuple' object has no attribute 'append'

In [312]:
#Tuplas não suportam um delete
del tupla1("Elefantes")

SyntaxError: cannot delete function call (965286871.py, line 2)

> Tuplas são feitas para não serem modificadas

In [313]:
#Tuplas podem ter um unico item
tupla1 = "Chocolate"

In [314]:
tupla1

'Chocolate'

In [315]:
tupla1 = ("Geografia", 23, "Elefantes", 9.8, "Python")

In [316]:
tupla1[0]

'Geografia'

In [317]:
#Podemos verificar o comprimento
len(tupla1)

5

In [318]:
#Podemos fazer slicing
tupla1[1:]

(23, 'Elefantes', 9.8, 'Python')

In [319]:
tupla1.index("Elefantes")

2

In [320]:
#Tuplas não suportam atribuição de item
tupla1[1] = 21

TypeError: 'tuple' object does not support item assignment

In [321]:
#Deletando a tupla
del tupla1

In [322]:
tupla1

NameError: name 'tupla1' is not defined

In [323]:
t2 = ("A", "B", "C")

In [324]:
#Convertendo tupla para lista
lista_t2 = list(t2)

In [325]:
type(t2)

tuple

In [326]:
type(lista_t2)

list

In [327]:
lista_t2

['A', 'B', 'C']

In [329]:
lista_t2.append("D")

In [330]:
#Convertendo a lista para tupla
t2 = lista_t2

In [331]:
t2

['A', 'B', 'C', 'D']